@model test3.Models.Actor

@{
    ViewData["Title"] = "Delete confirmation for Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete for @Model.FullName </h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div >

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview"  class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label" name="ProfilePictureURL" readonly >ProfilePictureURL</label>
                        <input asp-for="ProfilePictureURL" class="form-control" name="ProfilePictureURL" placeholder="ProfilePictureURL" readonly />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label" name="FullName" readonly >Name</label>
                        <input asp-for="FullName" class="form-control"  name="FullName" placeholder="FullName" readonly />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  asp-for="Bio" class="control-label" name="Bio" readonly >Biography</label>
                        <input  asp-for="Bio" class="form-control" name="Bio" placeholder="Bio" readonly />
                        <span  asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <form asp-action="DeletePost">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        </form>
                        @* <input  type="submit" value="confirm" class="btn btn-outline-success float-right" /> *@
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })

    </script>
}