@model test3.Models.Actor

@{
    ViewData["Title"] = "Edit Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" asp-controller="Actor" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview"  class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label" name="ProfilePictureURL">ProfilePictureURL</label>
                        <input asp-for="ProfilePictureURL" class="form-control" name="ProfilePictureURL" placeholder="ProfilePictureURL"/>
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label" name="FullName">Name</label>
                        <input asp-for="FullName" class="form-control"  name="FullName" placeholder="FullName"/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  asp-for="Bio" class="control-label" name="Bio">Biography</label>
                        <input  asp-for="Bio" class="form-control" name="Bio" placeholder="Bio"/>
                        <span  asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input  type="submit" value="Edit" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })

    </script>
}