@{
    ViewData["Title"] = "Details";
}
@model ticket.Models.MovieViewModel
<h2> Movies </h2>
<table>
  <tr>
    <th>Movie</th>
  </tr>
  @foreach (var item in @Model.MoviesList)
  {
    <tr>
        <td>@item.Name</td>
    </tr>
  }


</table> 
