
@{
    ViewData["Title"] = "Customer";
}
@model IEnumerable<ticket.Models.Customer>

<h2> Customers </h2>
<table class="table table-bordered table-hover" id="customers-tb" method="post" asp-action="Delete">
  <tr>
    <th>Customer</th>
    <th>memberShipTypeDisCountRate</th>
    <th>Delete</th>
  </tr>
  @foreach (var item in @Model)
  {
    <tr>
        <td>@item.Name</td>
        <td>@item.MemberShipTypeForCust.DisCountRate</td>
        <td> <button class="btn-link js-delete" data-customer-id="@item.Id">Delete</button></td>
    </tr>
  }

</table> 
@section scripts{
  
  <script>

    $(document).ready(function () {  


      var table = $('#customers-tb').DataTable();

      $('#customers-tb .js-delete').on("click",function(){
        var btn = $(this);
        if(confirm("Are you sure??")){
          $.ajax({
            url:"/Customer",
            method:"Delete",
            success:function(){
              console.log("success");
              @* table.row(btn.parents("tr")).remove().draw(); *@
              @* btn.parents("tr").remove(); no remove just delet and hidden this row *@
            }
          })
        }
      });
    });
  </script>
}
